@font-face {
  font-family: "triforce";
  src: url("fonts/Triforce.ttf") format("truetype"),
    url("fonts/Triforce.woff") format("woff");
}

.App {
  max-width: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

h1, h3, h4, button{
  font-family: "triforce", Arial, Helvetica, sans-serif;
}

.app-wrapper {
  display: flex;
  font-family: 'Open Sans Condensed', sans-serif;
}

.favourite-list {
  width: 200px;
  margin-right: 20px;
}

.favourite-recipes {
  list-style: none;
  padding-left: 0;
}

.favourite-recipes li {
  display: flex;
  justify-content: space-between;
}

.recipe-remove {
  border: none;
  background: none;
  cursor: pointer;
}

.recipe-browser {
  margin-top: 15px;
}

.filter-search {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: solid 1px;
  border-color: #c0c0c0;
}

.filter-search:focus {
  border-color: #0f0f0f;
}

.filter-label-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 10px;
}

.filter-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-option {
  width: 120px;
}

.select-separator {
  margin: 0 5px;
}

.filter-favourite {
  display: block;
  margin-top: 10px;
}

.no-recipes,
.recipe-list {
  margin-top: 10px;
}

.recipe-effect {
  margin: 0 5px;
}

.reset-filters {
  margin-left: 5px;
}

.footer {
  margin: 10px 0;
}
