@font-face {
  font-family: "triforce";
  src: url("fonts/Triforce.ttf") format("truetype"),
    url("fonts/Triforce.woff") format("woff");
}

#root {
  margin: auto;
  max-width: 768px;
}
.App {
  box-sizing: border-box;
  padding: 0 10px;
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr auto 50px;
}

h1, h3, h4, button{
  font-family: "triforce", Arial, Helvetica, sans-serif;
}

.app-wrapper {
  font-family: 'Open Sans Condensed', sans-serif;
}

.favourite-list {
  width: 200px;
  margin-right: 20px;
}

.favourite-recipes {
  list-style: none;
  padding-left: 0;
}

.recipe-remove {
  border: none;
  background: none;
  cursor: pointer;
}

.recipe-browser {
  margin-top: 15px;
}

.filter-chooser {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px auto 50px;
}

.filter-search {
  width: 100%;
  min-width: 768px;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: solid 1px;
  border-color: #c0c0c0;
  grid-column: 1/-1;
}

.filter-search:focus {
  border-color: #0f0f0f;
}

.effects {
  grid-column: 2/-1;
  padding-top: 20px;
}

.filter-label-section label {
  display: block;
  font-weight: bold;
  padding-bottom: 25px;
  font-family: "triforce", Arial, Helvetica, sans-serif;
}

.filter-inputs {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
}

.filter-option {
  width: 120px;
}

.select-separator {
  margin: 0 5px;
}

.filter-favourite {
  display: block;
  margin-top: 10px;
  grid-column: 1/-1;
}

.favourite-button {
  border: none;
  width: 44px;
  height: 44px;
  font-size: 25px;
  position: absolute;
  top: 98px;
  opacity: 0.4;
}

.favourite-button:hover {
  cursor: pointer;
}

.recipe-img {
  width: 100%;
}

.recipe-name, .recipe-effect {
  color: #222;
  margin: 10px;
}

.recipe-list {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style-type: none;
  padding-left: 0;
  font-size: 12px;
}

.no-recipes,
.recipe-list {
  margin-top: 10px;
}

.recipe-list-item {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 1px;
  position: relative;
}

.recipe-ingredients {
  padding: 0 5px 10px 15px;
  color: #757575;
}

.recipe-ingredient {
  list-style-type: none;
  line-height: 20px;
}

.reset-filters {
  margin-left: 5px;
}

.footer {
  margin: 10px 0;
}
